<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XYS.Remp.Screening.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--默认的小屋Id-->
    <add key="DefaultOrgId" value="1561"/>
    <add key="hisDataManagePwd" value="xys.123"/>
    
    <!--筛查机webapi地址-->
    <add key="ScreenWebApiUrl" value="http://rempapi.e24health.com/Screen"/>
    <!--UserWebApi-->
    <add key="UserApi" value="http://rempapi.e24health.com/user"/>
    <!--OAuth地址-->
    <add key="OAuthUrl" value="http://oauth.e24health.com/issuer"/>
    
    <!--异常标签Id-->
    <!--青少年二高 疑似高血压前期-->
    <add key="ThahSuspectedPrehypertension" value="1919"/>
    <!--青少年二高 疑似一级高血压-->
    <add key="ThahSuspectedFirstStageHypertension" value="1920"/>
    <!--青少年二高 疑似二级高血压-->
    <add key="ThahSuspectedSecondStageHypertension" value="1921"/>
    <!--青少年二高 疑似糖尿病前期-->
    <add key="ThahSuspectedPrediabetes" value="1922"/>
    <!--青少年二高 疑似糖尿病-->
    <add key="ThahSuspectedDiabetes" value="1923"/>
    <!--青少年二高 血糖值偏高-->
    <add key="ThahHigherBloodSugar" value="1924"/>

    <!--慢阻肺异常-->
    <add key="CopdUnusual" value="1918"/>
    
    <!--糖尿病中危-->
    <add key="DiabetesMediumRisk" value="1909"/>
    <!--糖尿病高危-->
    <add key="DiabetesHighRisk" value="1910"/>
    
    <!--BPH轻度-->
    <add key="BphLight" value="1906"/>
    <!--BPH中度-->
    <add key="BphModerate" value="1907"/>
    <!--BPH重度-->
    <add key="BphSerious" value="1908"/>
    
    <!--OAB轻度-->
    <add key="OabLight" value="1903"/>
    <!--OAB中度-->
    <add key="OabModerate" value="1904"/>
    <!--OAB重度-->
    <add key="OabSerious" value="1905"/>
    
    <!--老年痴呆中危-->
    <add key="AdModerate" value="1724"/>
    <!--老年痴呆高危-->
    <add key="AdSerious" value="1723"/>

    <!--脊柱侧弯中危-->
    <add key="SpineModerate" value="1725"/>
    <!--脊柱侧弯高危-->
    <add key="SpineSerious" value="1726"/>
    
    <!--轮椅可能不合适-->
    <add key="WheelchairMaybeInappropriate" value="1727"/>
    <!--轮椅基本不合适-->
    <add key="WheelchairInappropriate" value="1728"/>
    
    <!--上肢轻度障碍-->
    <add key="UpperLimbLight" value="1729"/>
    <!--上肢中度障碍-->
    <add key="UpperLimbModerate" value="1730"/>
    <!--上肢重度障碍-->
    <add key="UpperLimbSerious" value="1731"/>
    
    <!--足踝中危-->
    <add key="AnkleModerate" value="1732"/>
    <!--足踝高危-->
    <add key="AnkleSerious" value="1733"/>
    
    <!--脑卒中中危-->
    <add key="CerebralStrokeModerate" value="1735"/>
    <!--脑卒中高危-->
    <add key="CerebralStrokeSerious" value="1734"/>
    
    <!--异常标签Id end-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <XYS.Remp.Screening.Properties.Settings>
            <setting name="ScreenSet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScreenDate" serializeAs="String">
                <value>2016-05-10</value>
            </setting>
            <setting name="ScreenNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConstOrgCode" serializeAs="String">
                <value>1561</value>
            </setting>
            <setting name="CottageOrgId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ActivityId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CARecordID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoctorId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoctorName" serializeAs="String">
                <value />
            </setting>
            <setting name="txtActivName" serializeAs="String">
                <value />
            </setting>
            <setting name="txtCottageName" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDrAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivityName" serializeAs="String">
                <value />
            </setting>
            <setting name="QuesSelFlag" serializeAs="String">
                <value />
            </setting>
            <setting name="SetIsCustomer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivityAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivityStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivityEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="QuestionnaireRecodId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastTimeQuestionnaireRecodId" serializeAs="String">
                <value>0</value>
            </setting>
        </XYS.Remp.Screening.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScreeningService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="BasicHttpBinding_IPatientService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            
            </basicHttpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="headersMapping">
            <AttachContextHeader />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <extensions>
        <behaviorExtensions>
          <add name="AttachContextHeader" type="XYS.Remp.Screening.AttachContextBehavior, XYS.Remp.Screening, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>
        <client>
            <endpoint address="http://172.18.100.23:9614/ScreeningService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScreeningService"
                contract="Services.IScreeningService" name="BasicHttpBinding_IScreeningService" />

            <endpoint address="http://172.18.100.23:9600/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientService"
                contract="UserService.IPatientService" name="BasicHttpBinding_IPatientService" behaviorConfiguration="headersMapping"/>

        </client>
    </system.serviceModel>
</configuration>
